[tool.ruff]
select = ["E", "W", "F", "B"]
ignore = ["B028", "B905", "E501"]
line-length = 99

[tool.mypy]
ignore_missing_imports = true

[tool.black]
line-length = 99

[tool.isort]
profile = "black"
line_length = 99
